variable "AUTH0_AUDIENCE" {
  type = string
  default = "https://pipelineci.com"
  sensitive = false
}

variable "AUTH0_ISSUER_BASE_URL" {
  type = string
  default = "https://pipelineci.us.auth0.com"
  sensitive = false
}

variable "DB_URL" {
  type = string
  default = ""
  sensitive = true
}

variable "NODE_ENV" {
  type = string
  default = "production"
  sensitive = false
}

variable "DOMAIN_NAME" {
  type = string
  default = "pipelineci.com"
  sensitive = false
}

variable "SUBDOMAIN" {
  type = string
  default = "api"
  sensitive = false
}

variable "ORGANIZATIONS_TABLE_NAME" {
  type = string
  default = "organizations"
  sensitive = false
}

variable "GITHUB_APP_IDENTIFIER" {
  type = string
  default = ""
  sensitive = true
}

variable "DB_PASSWORD" {
  type = string
  default = ""
  sensitive = true
}

variable "WEBHOOK_SECRET" {
  type = string
  default = ""
  sensitive = true
}

variable "GHAPP_SUBDOMAIN" {
  type = string
  default = "ghapp"
  sensitive = false
}

variable "RUNNER_SUBDOMAIN" {
  type = string
  default = "runner"
  sensitive = false
}

variable "GITHUB_APP_PORT" {
  type = string
  default = "4000"
  sensitive = false
}

variable "GITHUB_APP_PRIVATE_KEY" {
  type = string
  default = ""
  sensitive = true
}

variable "RDS_CERT_BUNDLE" {
  type = string
  default = ""
  sensitive = true
}
