variable "AUTH0_AUDIENCE" {
  type = string
  default = "https://pipelineci.com"
  sensitive = false
}

variable "AUTH0_ISSUER_BASE_URL" {
  type = string
  default = "https://pipelineci.us.auth0.com"
  sensitive = false
}

variable "NODE_ENV" {
  type = string
  default = "production"
  sensitive = false
}

variable "AWS_REGION" {
  type = string
  default = "us-west-2"
  sensitive = false
}

variable "DOMAIN_NAME" {
  type = string
  default = "pipelineci.com"
  sensitive = false
}

variable "SUBDOMAIN" {
  type = string
  default = "api"
  sensitive = false
}

variable "ORGANIZATIONS_TABLE_NAME" {
  type = string
  default = "organizations"
  sensitive = false
}

variable "PROJECTS_TABLE_NAME" {
  type = string
  default = "projects"
  sensitive = false
}

variable "RUNS_TABLE_NAME" {
  type = string
  default = "runs"
  sensitive = false
}

variable "GITHUB_APP_IDENTIFIER" {
  type = string
  default = ""
  sensitive = true
}

variable "DB_PASSWORD" {
  type = string
  default = ""
  sensitive = true
}

variable "WEBHOOK_SECRET" {
  type = string
  default = ""
  sensitive = true
}

variable "GHAPP_SUBDOMAIN" {
  type = string
  default = "ghapp"
  sensitive = false
}

variable "RUNNER_SUBDOMAIN" {
  type = string
  default = "runner"
  sensitive = false
}

variable "GITHUB_APP_PORT" {
  type = string
  default = "4000"
  sensitive = false
}

variable "RUNNER_PORT" {
  type = string
  default = "4000"
  sensitive = false
}

variable "SELF_IP_FOR_BASTION" {
  type = string
  default = ""
  sensitive = true
}

variable "BASTION_KEY_PAIR_NAME" {
  type = string
  default = "BastionKeyPair"
  sensitive = false
}

variable "BASTION_SPOT_PRICE" {
  type = string
  default = "0.005"
  sensitive = false
}

variable "GITHUB_APP_PRIVATE_KEY" {
  type = string
  default = ""
  sensitive = true
}

variable "RDS_CERT_BUNDLE" {
  type = string
  default = ""
  sensitive = true
}
